body {
    margin: 0;
    margin-top: -80px;
    height: auto;
    width: 100%;
    background: url('./img/pokemonBackgrond.jpg');
    background-position: top;
    background-repeat: repeat-y;
    font-family: 'open sans';
}

.bold {
    font-weight: bold;
}


.h1 {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

.h11 {
    color: white;
    margin-left: 48px;
    font-size: 48px;
}

h2 {
    margin-left: 20%;
}

.header {
    padding-top: 100px;
    display: flex;
    align-items: center;
}

.input {
    margin-left: 48px;
    height: 32px;
    width: 200px;
    margin-right: 8px;
    border-radius: 5px;
    padding-left: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    font-size: 16px;
}

.input:hover {
    border: 1px solid white;
}


#pokedexs {
    margin-top: 48px;
    
}

#pokedex {
    min-width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#pokadexInfo {
    width: 280px;
    height: 200px;
    margin: 16px;
    border-radius: 16px;
    padding: 16px;
    height: 200px;
    position: relative;
}

#pokadexInfo:hover {
    cursor: pointer;
}

.nameType {
    height: 140px;
    display: flex;
    flex-direction: column;
    color: white;
}

.order {
    position: absolute;
    bottom: 0;
    margin-bottom: 16px;
}

#openOrder {
    position: absolute;
    top: 0;
    margin-top: 24px;
    right: 0;
    margin-right: 24px;
}

.pokemonImg {
    height: 120px;
    position: absolute;
    bottom: 0;
    margin-bottom: 16px;
    right: 0;
    margin-right: 16px;
}

#overlay {
    position: fixed;
    background-color: rgb(229, 238, 247);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    filter: opacity(80%);
    z-index: 998;
}

#openPokedexCont {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 10vh;
    max-width: 40vh;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
}

.openPokadex {
    min-height: 40vh;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

#backArrow {
    height: 44px;
    width: 44px;
}

#backArrow:hover {
    cursor: pointer;
}

.width {
    max-width: 60%;
    margin-left: 20%;
}

.textRight {
    text-align: right;
}

#openPokemonInfo {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -100px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

#openPokemonInfo img {
    margin-top: -20vh;
    margin-left: 5vh;
    height: 20vh;
}

.changeColor {
    color: lightslategray !important;
}

.changeArrow {
    filter: invert(40%);
}

.d-none {
    display: none !important;
}


/* background colors */

.grass {
    background-color: rgba(86, 206, 82, 0.9);
}
.fire {
    background-color: rgba(229, 110, 114, 0.9);
}
.water {
    background-color: rgba(132, 212, 243, 0.9);
}
.electric {
    background-color: rgba(255, 255, 163, 0.9);
}
.bug {
    background-color: rgba(173, 173, 173, 0.9);
}
.normal {
    background-color: rgba(255, 255, 255, 0.9);
}
.poison {
    background-color: rgba(178, 107, 180, 0.9);
}
.fighting {
    background-color: rgba(199, 198, 216, 0.9);
}
.ground {
    background-color: rgba(192, 136, 84, 0.9);
}
.fairy {
    background-color: rgba(240, 174, 189, 0.9);
}
.psychic {
    background-color: rgba(184, 171, 411, 0.9);
}
.rock {
    background-color: rgba(201, 201, 201, 0.9);
}
.ghost {
    background-color: rgba(255, 255, 255, 0.2);
}
.ice {
    background-color: rgba(202, 240, 255, 0.9);
}
.dark {
    background-color: rgba(0, 0, 0, 0.9);
}
.dragon {
    background-color: rgba(255, 37, 37, 0.9);
}



@media(max-width: 702px) {

    .h11 {
        margin-left: 0;
    }

    .header {
        min-width: 100%;
        display: flex ;
        align-items: center;
        flex-direction: column;
    }

    .inputBtn {
        position: relative;
        margin-top: -24px;
        margin-left: 0;
    }

    #pokedexs {
        margin-top: 40px;
    }
}    


@media(max-width: 400px) {

    #openPokedexCont {
        max-width: 34vh;
    }
}